@font-face {
    font-family: 'bebas';
    src: url('../fonts/Bebas-Regular.otf');
}

@font-face {
    font-family: 'coolvetica';
    src: url('../fonts/coolvetica.otf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.servicio-box {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-info {
    text-align: center;
}

.title-service {
    font-family: bebas;
    font-size: 25px;
}

.subtitle-service {
    font-family: Arial;
    font-size: 20px;
}

.text-service {
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    width: 90%;
    margin: auto;
}

.img-cont {
    width: 100%;
}

.img-service {
    width: 100%;
    border-radius: 20px;
}

.separador {
    width: 80%;
    height: 3px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.text-contact {
    text-align: justify;
    font-family: sans-serif;
}

.contact {
    font-size: 25px;
    font-family: sans-serif;
}

.cube {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(179, 181, 182);
    cursor: pointer;
}

.chat-whats {
    background: #1c9311;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
    position: fixed;
    right: 5px;
    bottom: 60px;
}

.chat-whats i {
    font-size: 35px;
    padding: 6px 10px;
    font-weight: 700;
    color: white;
}

.chat-whats:hover {
    background-color: white;
}

.chat-whats:hover .icon-w {
    color: #1c9311;
}

@media(min-width: 700px) {
    .servicio-box {
        display: flex;
        align-content: center;
        align-items: center;
    }
    .medio {
        order: 0;
    }
    .medio .service-info {
        order: 2;
    }
    .medio .img-cont {
        order: 1;
    }
}